//- If the <front> element in the <rfc> element does not contain a <date>,
//- element, or if the year, month, and date attributes are not all present, 
//- add (or modify) a <date> element using the current year, month, and day.
//- If the <date> element is present, but the date is more than three days ago
//- (in Internet-Draft mode), warn.

include ./elements.jade
- require('datejs')

mixin front(e)
  if e.parent().name() == 'rfc'
    - var date = $('date',e)
    - var modify = false
    if !date
      - date = $element('date')
      - var authors = $$('author', e)
      - var author = authors[authors.length-1]
      if !author
        +error('Author required', e)
      - author.addNextSibling(date)
      - modify = true
    else
      - var old = number.elementToDate(date);
      - modify = !old
      if !modify && !rfcMode
        //- check
        if old.addDays(3) < pubDate
          +warn('/rfc/front/date more than 3 days old', date)
    if modify
      - date.attr('year',  pubDate.getFullYear())
      - date.attr('month', pubDate.getMonth()+1)
      - date.attr('day',   pubDate.getDate())
    
  +elem(e)
  
+root
