//- Normalize the values of “month” attributes in all <date> elements to
//- numeric values.

include ./elements.jade

mixin date(e)
  - var m = $att(e, 'month')
  if m
    - var n = Date.getMonthNumberFromName(m)
    if n >= 0
      - e.attr('month', n+1)
  +elem(e)
  
+root
