//- If in I-D mode, fill in “expiresDate” attribute of <rfc> based on the
//- <date> element of the document’s <front> element.

include ./elements.jade

mixin rfc(e)
  if !rfcMode
    - var date = number.elementToDate($('front/date', e))
    if date
      - date.addMonths(6)
      - e.attr('expiresDate', date.format('Y-m-d'))
  +elem(e)
+root
