//- If in RFC production mode, if there is a <note> element with a
//- “removeInRFC” attribute that has the value “true”, remove the <note>
//- element.

include ./elements.jade

mixin note(e)
  if !rfcMode || ($att(e, 'removeInRFC') != 'true')
    +elem(e)
  //- else remove
  
+root
