//- In every <author> element, if there is an “asciiFullname”,
//- “asciiInitials”, or “asciiSurname” attribute, check the content of that
//- element against its matching “fullname”, “initials”, or “surname” element
//- (respectively). If the two are the same, remove the “ascii*” elelement.

include ./elements.jade

mixin author(e)
  - var a = e.attr('asciiFullname')
  if a && (a.value() == $att(e, 'fullname'))
    +warn('Removing redundant author fullname: ' + a.value())
    - a.remove()

  - a = e.attr('asciiInitials')
  if a && (a.value() == $att(e, 'initials'))
    +warn('Removing redundant author initials: ' + a.value())
    - a.remove()

  - a = e.attr('asciiSurname')
  if a && (a.value() == $att(e, 'surname'))
    +warn('Removing redundant author surname: ' + a.value())
    - a.remove()

  +elem(e)
  
+root
