//- For each <reference> or <referencegroup> that has an associated
//- <displayreference>, replace the value of the “anchor” attribute with the
//- value of the “to” attribute of the associated <displayreference>.

include ./elements.jade

mixin dr_reference(e)
  - var anchor = $att(e, 'anchor')
  if anchor
    - var dr = $('//displayreference[@target="' + anchor + '"]')
    if dr
      - var to = $att(dr, 'to')
      if to
        - e.attr('anchor', to)
  +elem(e)

mixin reference(e)
  +dr_reference(e)

mixin referencegroup(e)
  +dr_reference(e)


+root
