//- Add a “slugifiedName” attribute to each <name> element that does not
//- contain one; replace the attribute if it contains a value that begins with
//- “n-“.

include ./elements.jade

mixin name(e)
  - var sn = $att(e, 'slugifiedName')
  if !sn || sn.match(/^n-/)
    - e.attr('slugifiedName', "n-" + defs.slug(e.text()).toLowerCase())
  +elem(e)

+root
