//- For each <xref> element referring to a <reference> or <referencegroup> that
//- has an associated <displayreference>, modify the “target” attribute of the
//- <xref> to match the “to” attribute of the associated <displayreference>.

include ./elements.jade

mixin xref(e)
  - var target = $att(e, 'target');
  if !target
    +error('target required on xref', e)
  - var target_el = $('//*[@anchor="' + target + '"]')
  if !target_el
    +error('<xref> target not found', e)
  - var tname = target_el.name()
  if (tname === 'reference') || (tname === 'referencegroup')
    - var dr = $('//displayreference[@target="' + target + '"]')
    if dr
      - var to = $att(dr, 'to')
      if to
        - e.attr('target', to)
  +elem(e)
  
+root
