//- For each <xref> element that has content, fill the “derivedContent” with
//- the element content, having first trimmed the whitespace from ends of
//- content text. Issue a warning if the “derivedContent” attribute already
//- exists and has a different value from what was being filled in.

include ./elements.jade

mixin xref(e)
  - var t = e.text().trim()
  if t
    - var dc = $att(e, 'derivedContent')
    if dc && (t !== dc)
      +warn('Invalid derivedContent being overwritten: ' + dc, e)
    - e.attr('derivedContent', t)
  +elem(e)
  
+root
