//- For each <relref> element referring to a <reference> or <referencegroup>
//- that has an associated <displayreference>, modify the “target” attribute of
//- the <relref> to match the “to” attribute of the associated
//- <displayreference>.

include ./elements.jade

mixin relref(e)
  - var target = $att(e, 'target');
  if !target
    +error('target required on <relref>', e)
  - var target_el = $('//*[@anchor="' + target + '"]')
  if !target_el
    +error('<relref> target not found', e)
  - var tname = target_el.name()
  if tname !== 'reference'
    +error('<relref> target must be <reference>, not: ' + tname, e)
  
  - var dr = $('//displayreference[@target="' + target + '"]')
  if dr
    - var to = $att(dr, 'to')
    if to
      - e.attr('target', to)
  +elem(e)

+root
