//- If any <relref> element’s “target” attribute refers to anything but a
//- <reference> element, give an error.

include ./elements.jade

mixin relref(e)
  - var target = $att(e, 'target');
  if !target
    +error('target required on <relref>', e)
  - var target_el = $('//*[@anchor="' + target + '"]')
  if !target_el
    +error('<relref> target not found', e)
  if target_el.name() !== 'reference'
    +error('<relref> must have a reference as a target', e)
  +elem(e)
  
+root
