//- For each <relref> element, fill in the “derivedLink” attribute

include ./elements.jade

mixin relref(e)
  - var target = $att(e, 'target');
  if !target
    +error('target required on <relref>', e)
  - var target_el = $('//reference[@anchor="' + target + '"]')
  if !target_el
    +error('<relref> target not found', e)
  - var ref_target = $att(target_el, 'target')
  - var section = $att(e, 'section')
  - var dl = null
  
  if !section
    +error("section is required in <relref>", e)
  
  - var relative = $att(e, 'relative')
  if relative
    dl = ref_target + relative
  else
    //- TODO: fix URLs, figure out I-Ds
    - var num = $('seriesInfo[@name="RFC"]/@value', target_el)
    if num
      - dl = `https://tools.ietf.org/html/rfc${num}#section-${section}`
    else
      - num = $('seriesInfo[@name="Internet-Draft"]/@value', target_el)
      if !num
        +error("relative is required for <relref>s not pointing at RFCs or I-Ds", e)
      - dl = `https://tools.ietf.org/html/${num}#section-${section}`
  
  - var old_dl = $att(e, 'derivedLink')
  if old_dl && (old_dl !== dl)
    +warn('replacing invalid derivedLink: ' + old_dl, e)
  - e.attr('derivedLink', dl)
  +elem(e)

+root
