//- For each <relref> element that does not have content, fill the
//- “derivedRemoteContent” based on the content of the target reference.
//- * If the target reference is an RFC or Internet-Draft in the v3 format, find
//-   the anchor given in the “relative” attribute or derived from the “section”
//-   attribute, and use the identifier of that element (such as “Section 2.3” 
//-   or “Table 4”) for the “derivedRemoteContent”.
//- * If the target reference is not a RFC or Internet-Draft in the v3 format,
//-   use the value of the “relative” or “section” attribute for the
//-   “derivedRemoteContent”.
//- * Issue a warning if the “derivedRemoteContent” attribute already exists and
//-   has a different value from what was being filled in.

//- TODO: can not do this until we know where XML is going to be.

include ./elements.jade

+root
