//- For each <relref> element, fill in the “derivedLink” attribute

include ./elements.jade

mixin relref(e)
  - var target = $att(e, 'target');
  if !target
    +error('target required on <relref>', e)
  - var target_el = $('//*[@anchor="' + target + '"]')
  if !target_el
    +error('<relref> target not found', e)
  - var ref_target = $att(target_el, 'target')
  - var relative = $att(e, 'relative')
  - var section = $att(e, 'section')
  - var dl = null
  
  //- TODO: different links if source is PDF or HTML
  if relative
    if section
      +error("can't have both relative and section on a <relref>", e)
    dl = ref_target + relative
  else
    //- TODO: check to see if the target has v3, and calculate the HTML URL
    if !section
      +error("<relref> must have relative or section", e)
    - dl = ref_target + '#s-' + section
  
  - var old_dl = $att(e, 'derivedLink')
  if old_dl && (old_dl !== dl)
    +warn('replacing invalid derivedLink: ' + old_dl, e)
  - e.attr('derivedLink', dl)
  +elem(e)

+root
