//- If an <artwork> element has a “src” attribute where no scheme is specified,
//- treat the scheme as “file:” in a path relative to the file being processed.
//- See Section 8 for warnings about this step. This will likely be one of the
//- most common authoring approaches.

include ./elements.jade

mixin artwork(e)
  - var src = $att(e, 'src')
  if src
    - var suri = defs.url.parse(src)
    if !suri.protocol
      if !$att(e, 'originalSrc')
        - e.attr('originalSrc', src)
      - e.attr('src', defs.state.inputUri.resolve(suri))
  +elem(e)
  
+root
