//- If an <artwork> element has type=’svg’ and there is a “src” attribute, the
//- data needs to be moved into the content of the <artwork> element.
//- - If the “src” URI scheme is “data:”, fill the content of the <artwork>
//-   element with that data and remove the “src” attribute.
//- - If the “src” URI scheme is “file:”, “http:”, or “https:”, fill the content
//-   of the <artwork> element with the resolved XML from the URI in the “src”
//-   attribute. Add an “originalSrc” attribute with the value of the URI and
//-   remove the “src” attribute.

include ./elements.jade

mixin artwork(e)
  - var src = $att(e, 'src')
  if src
    if $att(e, 'type') === 'svg'
      if e.childNodes().length > 0
        +error('<artwork> with src must be empty', e)
      - var suri = defs.url.parse(src)
      - var buf = null
      if suri.protocol === 'data:'
        - buf = defs.dataUri.decode(src)
      else 
        if suri.protocol === 'file:'
          - buf = defs.fs.readFileSync(suri.pathname)
        else if (suri.protocol === 'http:') || (suri.protocol === 'https:')
          - var res = defs.urllibsync.request(src)
          if res.status !== 200
            +error('HTTP error (' + res.statusCode + '): ' + src, e)
          - buf = res.data
        else
          +error('Unknown <artwork> src protocol: ' + suri.protocol, e)
        - e.attr('originalSrc', src)
      - var doc = defs.xml.parseXml(buf)
      - e.addChild(doc.root())
      - e.attr('src').remove()  
  +elem(e)
  
+root
