//- If a <sourcecode> element has a “src” attribute, the data needs to be moved
//- into the content of the <sourcecode> element.
//- - If the “src” URI scheme is “data:”, fill the content of the <sourcecode>
//-   element with the appropriately-escaped data and remove the “src” 
//-   attribute.
//- - If the “src” URI scheme is “file:”, “http:”, or “https:”, fill the content
//-   of the <sourcecode> element with the appropriately-escaped resolved text
//-   from the URI in the “src” attribute. Add an “originalSrc” attribute with
//-   the value of the URI and remove the “src” attribute.

include ./elements.jade

mixin sourcecode(e)
  - var src = $att(e, 'src')
  if src
    if e.childNodes().length > 0
      +error('<sourcecode> has src and children', e)
    - var suri = defs.url.parse(src)
    - var buf = null
    if suri.protocol === 'data:'
      - buf = defs.dataUri.decode(src)
    else 
      if suri.protocol === 'file:'
        - buf = defs.fs.readFileSync(suri.pathname)
      else if (suri.protocol === 'http:') || (suri.protocol === 'https:')
        - var res = defs.urllibsync.request(src)
        if res.status !== 200
          +error('HTTP error (' + res.statusCode + '): ' + src, e)
        - buf = res.data
      else
        +error('Unknown <sourcecode> src protocol: ' + suri.protocol, e)
      if !$att(e, 'originalSrc')
        - e.attr('originalSrc', src)
    - e.text(buf.toString())
    - e.attr('src').remove()
  +elem(e)
  
+root
