//- If in RFC production mode, remove all <link> elements whose “rel” attribute
//- has the value “alternate”.

include ./elements.jade

mixin link(e)
  if !rfcMode || ($att(e, 'rel') !== 'alternate')
    +elem(e)
  //- otherwise remove

+root
