//- If in RFC production mode, check if there is a <link> element with the
//- current ISSN for the RFC series (2070-1721); if not, add it in the form
//- <link rel=”item” href=”urn:issn:2070-1721”>.

include ./elements.jade

mixin rfc(e)
  if rfcMode
    - var found = false
    if !$('link[@rel="item"][@href="urn:issn:2070-1721"]', e)
      - var children = e.childNodes()
      if children.length === 0
        +error('Not a convincing RFC', e)
      - var l = $element('link')
      - l.attr('rel', 'item')
      - l.attr('href', 'urn:issn:2070-1721')
      - children[0].addPrevSibling(l)
  +elem(e)
  
+root
