//- If the input document includes a “prepTime” attribute of <rfc>, exit with an
//- error.

//- Fill in the “prepTime” attribute of <rfc> with the current datetime

include ./elements.pug

mixin rfc(e)
  if e.attr('prepTime')
    +error('remove rfc/@prepTime if you want to re-prepare', e)
  - e.attr('prepTime', pubDate.format('c'))
  +elem(e)

+root
