//- If the <rfc> element has a “version” attribute with a value other than “3”,
//- give an error. If the <rfc> element has no “version” attribute, add one with
//- the value “3”.

include ./elements.pug

mixin rfc(e)
  - var ver = $att(e, 'version')
  if ver
    if ver !== '3'
      +error('invalid <rfc> version number: ' + ver, e)
  else
    - e.attr('version', 3)
  +elem(e)

+root
