//- for each section, modify the "toc" attribute to be either "include" or
//- "exclude"
//-   for sections that have an ancestor of <boilerplate>, use "exclude"
//-   else for sections that have a descendant that has toc="include", use
//-        "include".  If the section has toc="exclude" in the input, this is
//-        an error.
//-   else for sections that are children of a section with toc="exclude",
//-        use "exclude".
//-   else for sections that are deeper than rfc/@tocDepth, use "exclude"
//-   else use "include"

include ./elements.pug

mixin section(e)
  - var toc = 'include';
  if $('ancestor::boilerplate', e)
    - toc = 'exclude'
  else if $('descendant-or-self::section[@toc="include"]', e)
    if $att(e, 'toc') == 'exclude'
      +error('Invalid include/exclude toc', e)
  else if $('ancestor-or-self::section[@toc="exclude"]', e)
    - toc = 'exclude'
  else if $('count(ancestor-or-self::section)', e) > parseInt($('/rfc/@tocDepth'))
    - toc = 'exclude'
  +elem(e)(toc=toc)

+root
