//- For every <section> element that has a (deprecated) “title” attribute,
//- remove the “title” attribute and insert a <name> element in that section
//- with the title from the attribute.

include ./elements.pug

mixin title_to_name(e)
  - var title = e.attr('title')
  if title
    - title.remove()
    +start_elem(e)
      name= title.value()
      +children(e)
  else
    +elem(e)

mixin figure(e)
  +title_to_name(e)

mixin note(e)
  +title_to_name(e)

mixin references(e)
  +title_to_name(e)

mixin section(e)
  +title_to_name(e)

mixin texttable(e)
  +title_to_name(e)

+root
