//- In every <email>, <organization>, <street>, <city>, <region>, <country>, and
//- <code> element, if there is an “ascii” attribute and the value of that
//- attribute is the same as the content of the element, remove the “ascii”
//- element and issue a warning about the removal.

//- In every <author> element, if there is an “asciiFullname”, “asciiInitials”,
//- or “asciiSurname” attribute, check the content of that element against its
//- matching “fullname”, “initials”, or “surname” element (respectively). If the
//- two are the same, remove the “ascii*” elelement and issue a warning about
//- the removal.

include ./elements.jade

mixin rm_ascii(e)
  - var ascii = e.attr('ascii')
  if ascii && (ascii.value() == e.text().trim())
    +warn('Removing redunant ascii attribute on ' +  e.name() + ": " + ascii.value(), e)
    - ascii.remove()
  +elem(e)

mixin author(e)
  - var a = e.attr('asciiFullname')
  if a && (a.value() == $att(e, 'fullname'))
    +warn('Removing redundant author fullname: ' + a.value(), e)
    - a.remove()

  - a = e.attr('asciiInitials')
  if a && (a.value() == $att(e, 'initials'))
    +warn('Removing redundant author initials: ' + a.value(), e)
    - a.remove()

  - a = e.attr('asciiSurname')
  if a && (a.value() == $att(e, 'surname'))
    +warn('Removing redundant author surname: ' + a.value(), e)
    - a.remove()

  +elem(e)

mixin email(e)
  +rm_ascii(e)

mixin organization(e)
  +rm_ascii(e)
  
mixin street(e)
  +rm_ascii(e)

mixin city(e)
  +rm_ascii(e)

mixin region(e)
  +rm_ascii(e)

mixin country(e)
  +rm_ascii(e)

mixin code(e)
  +rm_ascii(e)

+root
