//- In every <iref> element create a document-unique pn attribute.  The
//- pn will start with 'i-', and use the item attribute, the subitem
//- attribute (if it exists), and a counter to ensure unqiqueness.  For example,
//- the first instance of <iref item='foo' subitem='bar'> will get the irefid
//- of 'i-foo-bar-1'.

include ./elements.pug

- var irefs = {}

mixin iref(e)
  - var si = $att(e,'subitem')
  - var isi = 'i-' + defs.slug($att(e,'item')) + ((!si) ? "":("-"+defs.slug(si)))
  - var num = irefs[isi] || 0
  - num += 1
  - irefs[isi] = num
  - e.attr('pn',isi+'-'+num)
  +elem(e)

+root
