//- For any <reference> element that does not already have a “target”
//- attribute, fill that attribute in if the element has one or more
//- <seriesinfo> child element(s) and the “name” attribute of the <seriesinfo>
//- element is “RFC”, “Internet-Draft”, or “DOI”. The particular URLs for RFCs,
//- Internet-Drafts, and DOIs for this step will be specified later by the RFC
//- Editor and the IESG. These URLs might also be different before and after the
//- v3 format is adopted.

include ./elements.jade

mixin reference(e)
  if !$att(e, 'target')
    - var val = $('seriesInfo[@name="RFC"]/@value', e)
    if val
      - e.attr('target', 'https://tools.ietf.org/html/rfc' + val)
    else
      - val = $('seriesInfo[@name="Internet-Draft"]/@value', e)
      if val
        - e.attr('target', 'https://tools.ietf.org/html/' + val)
      else
        - val = $('seriesInfo[@name="DOI"]/@value', e)
        if val
          - e.attr('target', 'http://doi.org/' + val)
      //- TODO: generate URIs for W3C, etc. here.
  +elem(e)
  
+root
