//- 1. If in RFC production mode, remove all <link> elements whose “rel” attribute
//-    has the value “alternate”.

//- 2. If in RFC production mode, check if there is a <link> element with the
//- current ISSN for the RFC series (2070-1721); if not, add <link rel=”item”
//- href=”urn:issn:2070-1721”>.

//- 3. If in RFC production mode, check if there is a <link> element with a DOI
//- for this RFC; if not, add one of the form <link rel=”describedBy”
//- href=”https://dx.doi.org/10.17487/rfcdddd”>.

//- 4. If in RFC production mode, check if there is a <link> element with the
//- file name of the Internet-Draft that became this RFC the form <link
//- rel=”convertedFrom”
//- href=”https://datatracker.ietf.org/doc/draft-tttttttttt/”>. If one does not
//- exist, give an error.

include ./elements.jade

mixin link(e)
  //- 1. If in RFC production mode, remove all <link> elements whose “rel” attribute
  //-    has the value “alternate”.
  if !rfcMode || ($att(e, 'rel') !== 'alternate')
    +elem(e)
  //- otherwise remove

mixin rfc(e)
  +start_elem(e)
    if rfcMode
      - var first = $('*', e)
      
      //- 2. If in RFC production mode, check if there is a <link> element with
      //- the current ISSN for the RFC series (2070-1721); if not, add <link
      //- rel=”item” href=”urn:issn:2070-1721”>.
      if !$('link[@rel="item"][@href="urn:issn:2070-1721"]', e)
        link(rel='item', href='urn:issn:2070-1721')
      
      //- 3. If in RFC production mode, check if there is a <link> element with a
      //- DOI for this RFC; if not, add one of the form <link rel=”describedBy”
      //- href=”https://dx.doi.org/10.17487/rfcdddd”>.
      if !$('link[@rel="describedBy"][starts-with(@href, "https://dx.doi.org/10.17487/")]', e)
        - var val = $('front/seriesInfo[@name="RFC"]/@value', e)
        if !val
          +error('RFC number not found in front/seriesInfo', e)
        link(rel='describedBy', href='https://dx.doi.org/10.17487/rfc' + val)

      //- 4. If in RFC production mode, check if there is a <link> element with
      //-    the file name of the Internet-Draft that became this RFC the form
      //-    <link rel=”convertedFrom”
      //-    href=”https://datatracker.ietf.org/doc/draft-tttttttttt/”>. If one
      //-    does not exist, give an error.
      if !$('link[@rel="convertedFrom"]', e)
        //- no way to know what the source is.
        +error('In rfc-mode, <link rel="convertedFrom" href="https://datatracker.ietf.org/doc/draft-"/> requried', e)
    +children(e)

+root
