//- If in RFC production mode, ensure that the result is in full compliance to
//- v3 schema, without any deprecated elements or attributes, and give an error
//- if any issues are found.

include ./elements.jade

mixin deprecate_elem(e)
  if rfcMode
    +error('<' + e.name() + '> is deprecated in v3', e)
  else
    +elem(e)

mixin deprecate_attr(e, a)
  if rfcMode
    - var val = $att(e, a)
    if val
      +error(e.name() + '/@' + a + ' is deprecated in v3', e)
      
//- Deprecate <list> in favor of <dl>, <ul>, and <ol>.
mixin list(e)
  +deprecate_elem(e)
  
//- Deprecate <spanx>; replace it with <strong>, <em>, and <tt>.
mixin spanx(e)
  +deprecate_elem(e)

//- Deprecate <vspace> because the major use for it, creating pseudo-
//- paragraph-breaks in lists, is now handled properly.
mixin vspace(e)
  +deprecate_elem(e)

//- Deprecate <texttable>, <ttcol>, and <c>; replace them with the new table
//- elements (<table> and the elements that can be contained within it).
mixin texttable(e)
  +deprecate_elem(e)

mixin ttcol(e)
  +deprecate_elem(e)

mixin c(e)
  +deprecate_elem(e)

//- Deprecate <facsimile> because it is rarely used.
mixin facsimile(e)
  +deprecate_elem(e)

//- Deprecate <format> because it is not useful and has caused surprise for
//- authors in the past.  If the goal is to provide a single URI (Uniform
//- Resource Identifier) for a reference, use the "target" attribute on
//- <reference> instead.
mixin format(e)
  +deprecate_elem(e)

//- Deprecate <preamble> and <postamble> in favor of simply using <t> before or
//- after the figure.  This also deprecates the "align" attribute in <figure>.
mixin preamble(e)
  +deprecate_elem(e)

mixin postamble(e)
  +deprecate_elem(e)
  
mixin figure(e)
  +deprecate_attr(e, 'align')
  //- Deprecate the "alt", and "src" attributes in <figure> because they overlap
  //- with the attributes in <artwork>.
  +deprecate_attr(e, 'alt')
  +deprecate_attr(e, 'src')
  +deprecate_attr(e, 'title')
  +deprecate_attr(e, 'height')
  +deprecate_attr(e, 'width')
  +elem(e)

//- Deprecate the "title" attribute in <section>, <note>, <figure>,
//- <references>, and <texttable> in favor of the new <name>.

mixin section(e)
  +deprecate_attr(e, 'title')
  +elem(e)

mixin note(e)
  +deprecate_attr(e, 'title')
  +elem(e)

mixin references(e)
  +deprecate_attr(e, 'title')
  +elem(e)

mixin texttable(e)
  +deprecate_attr(e, 'title')
  +elem(e)

//- Deprecate the "xml:space" attribute in <artwork> because there was only one
//- useful value.  Deprecate "height" and "width" attribute in both <artwork>
//- and <figure> because they are not needed for the new output formats.

mixin artwork(e)
  +deprecate_attr(e, 'height')
  +deprecate_attr(e, 'width')
  if rfcMode && e.get('@xml:space')
    +error('artwork/@xml:space is deprecated in v3', e)
  +elem(e)
  
//- Deprecate the "pageno" attribute in <xref> because it was unused in v2.
//- Deprecate the "none" values for the "format" attribute in <xref> because it
//- makes no sense semantically.

mixin xref(e)
  +deprecate_attr(e, 'pageno')
  if rfcMode && ($att(e, 'format') === 'none')
    +error('<xref @format="none"> is deprecated in v3', e)
  +elem(e)

+root
